<div>
    <h2>
        <span jhiTranslate="sfWebClientApp.bankAccount.home.title">Bank Accounts</span>
        <button class="btn btn-primary float-right jh-create-entity create-bank-account" [routerLink]="['/', { outlets: { popup: ['bank-account-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sfWebClientApp.bankAccount.home.createLabel">
            Create new Bank Account
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="bankAccounts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="accountStatus"><span jhiTranslate="sfWebClientApp.bankAccount.accountStatus">Account Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="accountType"><span jhiTranslate="sfWebClientApp.bankAccount.accountType">Account Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="accountNumber"><span jhiTranslate="sfWebClientApp.bankAccount.accountNumber">Account Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="sfWebClientApp.bankAccount.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="sfWebClientApp.bankAccount.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="balance"><span jhiTranslate="sfWebClientApp.bankAccount.balance">Balance</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="user.login"><span jhiTranslate="sfWebClientApp.bankAccount.user">User</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bank.name"><span jhiTranslate="sfWebClientApp.bankAccount.bank">Bank</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bankAccount of bankAccounts ;trackBy: trackId">
                <td><a [routerLink]="['../bank-account', bankAccount.id ]">{{bankAccount.id}}</a></td>
                <td jhiTranslate="{{'sfWebClientApp.AccountStatus.' + bankAccount.accountStatus}}">{{bankAccount.accountStatus}}</td>
                <td jhiTranslate="{{'sfWebClientApp.AccountType.' + bankAccount.accountType}}">{{bankAccount.accountType}}</td>
                <td>{{bankAccount.accountNumber}}</td>
                <td>{{bankAccount.name}}</td>
                <td>{{bankAccount.description}}</td>
                <td>{{bankAccount.balance}}</td>
                <td>
                    {{bankAccount.user?.login}}
                </td>
                <td>
                    <div *ngIf="bankAccount.bank">
                        <a [routerLink]="['../bank', bankAccount.bank?.id ]" >{{bankAccount.bank?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../bank-account', bankAccount.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bank-account/'+ bankAccount.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bank-account/'+ bankAccount.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="bankAccounts && bankAccounts.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
