<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBankAccountLabel" jhiTranslate="sfWebClientApp.bankAccount.home.createOrEditLabel">Create or edit a Bank Account</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!bankAccount.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="bankAccount.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfWebClientApp.bankAccount.accountStatus" for="field_accountStatus">Account Status</label>
            <select class="form-control" name="accountStatus" [(ngModel)]="bankAccount.accountStatus" id="field_accountStatus"  required>
                <option value="INACTIVE">{{'sfWebClientApp.AccountStatus.INACTIVE' | translate}}</option>
                <option value="ACTIVE">{{'sfWebClientApp.AccountStatus.ACTIVE' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.accountStatus?.dirty && editForm.controls.accountStatus?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.accountStatus?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfWebClientApp.bankAccount.accountType" for="field_accountType">Account Type</label>
            <select class="form-control" name="accountType" [(ngModel)]="bankAccount.accountType" id="field_accountType"  required>
                <option value="GENERIC">{{'sfWebClientApp.AccountType.GENERIC' | translate}}</option>
                <option value="CHECKING_ACCOUNT">{{'sfWebClientApp.AccountType.CHECKING_ACCOUNT' | translate}}</option>
                <option value="SAVING_ACCOUNT">{{'sfWebClientApp.AccountType.SAVING_ACCOUNT' | translate}}</option>
                <option value="CREDIT_CARD">{{'sfWebClientApp.AccountType.CREDIT_CARD' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.accountType?.dirty && editForm.controls.accountType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.accountType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfWebClientApp.bankAccount.accountNumber" for="field_accountNumber">Account Number</label>
            <input type="text" class="form-control" name="accountNumber" id="field_accountNumber"
                [(ngModel)]="bankAccount.accountNumber" required minlength="4" maxlength="64" />
            <div [hidden]="!(editForm.controls.accountNumber?.dirty && editForm.controls.accountNumber?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.accountNumber?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.accountNumber?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 4 }">
                   This field is required to be at least 4 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.accountNumber?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 64 }">
                   This field cannot be longer than 64 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfWebClientApp.bankAccount.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="bankAccount.name" required minlength="4" maxlength="64" />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 4 }">
                   This field is required to be at least 4 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 64 }">
                   This field cannot be longer than 64 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfWebClientApp.bankAccount.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="bankAccount.description" maxlength="512" />
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 512 }">
                   This field cannot be longer than 512 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfWebClientApp.bankAccount.balance" for="field_balance">Balance</label>
            <input type="number" class="form-control" name="balance" id="field_balance"
                [(ngModel)]="bankAccount.balance"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfWebClientApp.bankAccount.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="bankAccount.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === bankAccount.user?.id ? bankAccount.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfWebClientApp.bankAccount.bank" for="field_bank">Bank</label>
            <select class="form-control" id="field_bank" name="bank" [(ngModel)]="bankAccount.bank"  required>
                <option *ngIf="!editForm.value.bank" [ngValue]="null" selected></option>
                <option [ngValue]="bankOption.id === bankAccount.bank?.id ? bankAccount.bank : bankOption" *ngFor="let bankOption of banks; trackBy: trackBankById">{{bankOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.bank?.dirty && editForm.controls.bank?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.bank?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
