<div>
    <h2><span>Dashboard</span></h2>
    <jhi-alert></jhi-alert>

    <div class="form-inline">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <select class="form-control" id="field_year" name="year" [(ngModel)]="year" >
                <option [value]="yearOption" *ngFor="let yearOption of tranYears">{{yearOption}}</option>
            </select>
        </div>
        <button (click)="onRefresh()" class="btn btn-primary">
            Refresh
        </button>
    </div>
    <!--*ngFor="let rowAcc of rowsAccount; let idx=index"-->
    <div class="form-group"
         >
        <div class="form-check form-check-inline"
             *ngFor="let acc of accounts; let j=index">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="option1"
                       [checked]="isChecked(acc.id)"
                       (change)="onChangeAcc($event.target.checked, acc)"
                />
                {{acc.name}}
            </label>
        </div>
    </div>

    <!--*ngIf="chartLabels.length > 0"-->
    <div class="row" >
        <div class="col-md-6">
            <jhi-line-chart *ngIf="isAuthenticated()" [chartLabels]="chartLabels" [chartData]="chartData"></jhi-line-chart>
        </div>
        <div class="col-md-6">
            <table class="table table-responsive table-condensed table-sm">
                <tr>
                    <th *ngFor="let label of chartLabels">{{label}}</th>
                </tr>
                <tr *ngFor="let d of chartData" [@in-out]="'in'">
                    <td *ngFor="let label of chartLabels; let j=index">{{d && d.data[j] | currency:'USD':true:'2.2-2'}}</td>
                </tr>
            </table>
        </div>
    </div>

    <!--*ngIf="chartLabels.length > 0"-->
    <div class="row justify-content-center" >
        <div class="col-md-10">
            <jhi-bar-chart *ngIf="isAuthenticated()" [chartLabels]="chartLabels" [chartData]="chartData"></jhi-bar-chart>
        </div>
    </div>
</div>
