<div>
    <h2>
        <span jhiTranslate="sfWebClientApp.accountTransaction.home.title">Transactions</span>

        <button class="btn btn-sm btn-primary float-right jh-create-entity create-account-transaction"
                [routerLink]="['/', { outlets: { popup: ['finance-account',currentAccount.id ,'transaction-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="sfWebClientApp.accountTransaction.home.createLabel">
            Create new Account Transaction
            </span>
        </button>
        <button class="btn btn-sm btn-success float-right jh-upload-entity upload-account-transaction mr-2"
                [routerLink]="['./transaction/upload']">
            <span class="fa fa-upload"></span>
            <span>
            Upload
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="row" *ngIf="filterObj">
        <div class="col-sm-3">
            <div class="form-group">
                <input name="descriptionFilter" class="form-control" placeholder="Description"
                       [(ngModel)]="filterObj.description"
                />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <input name="dateRangeFilter"
                       type="text"
                       placeholder="MM/dd/yyyy"
                       bsDaterangepicker #dpr="bsDaterangepicker"
                       (focus)="onDateRangeFocus()"
                       (focusout)="onDateRangeFocusout()"
                       [(ngModel)]="dateRange"
                       class="form-control"
                >
            </div>
        </div>
        <div class="col-sm-2">
            <select class="form-control"
                    name="operator"
                    [(ngModel)]="filterObj.operator">
                <option value="0"></option>
                <option value="-1">Equal or less than</option>
                <option value="1">Equal or greater than</option>
            </select>
        </div>
        <!--mb-2 mr-sm-2 mb-sm-0-->
        <div class="col-sm-2">
            <input
                    type="number"
                    name="amount"
                   class="form-control"
                   placeholder="amount"
                   [(ngModel)]="filterObj.amount"
                    #amount="ngModel"
            />
            <div [hidden]="!(amount?.dirty && amount?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!amount?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="col-sm-1">
            <button class="btn btn-sm btn-default"
                    (click)="onFilterClick()"
                    >
                <span class="fa fa-refresh"></span>
                <span>
            Refresh
            </span>
            </button>

        </div>
    </div>
    <div class="table-responsive" *ngIf="transactions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="postDate"><span
                    jhiTranslate="sfWebClientApp.accountTransaction.postDate">Post Date</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="tranCategory.name"><span jhiTranslate="sfWebClientApp.accountTransaction.tranCategory">Tran Category</span>
                    <span class="fa fa-sort"></span></th>
                <th jhiSortBy="tranType"><span
                    jhiTranslate="sfWebClientApp.accountTransaction.tranType">Tran Type</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="description"><span jhiTranslate="sfWebClientApp.accountTransaction.description">Description</span>
                    <span class="fa fa-sort"></span></th>
                <th jhiSortBy="amount"><span jhiTranslate="sfWebClientApp.accountTransaction.amount">Amount</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="createdDate"><span>Created Date</span> <span class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transaction of transactions ;trackBy: trackId">
                <td>{{transaction.postDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="transaction.tranCategory">
                        <a [routerLink]="['../../tran-category', transaction.tranCategory?.id ]">{{transaction.tranCategory?.name}}</a>
                    </div>
                </td>
                <td jhiTranslate="{{'sfWebClientApp.TranType.' + transaction.tranType}}">{{transaction.tranType}}</td>
                <td><a [routerLink]="['./transaction', transaction.id ]">{{transaction.description}}</a></td>
                <td class="text-right">{{transaction.amount | currency:'USD':true:'2.2-2'}}</td>
                <td class="text-right">{{transaction.createdDate | date:'short'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: ['finance-account', currentAccount.id, 'transaction', transaction.id, 'edit']} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: ['finance-account', currentAccount.id, 'transaction', transaction.id, 'delete']}}]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm ml-2">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="transactions && transactions.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page"
                            (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
