<div>
    <h2 id="page-heading">
        <span jhiTranslate="sfwebApp.currency.home.title">Currencies</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-currency-sf" [routerLink]="['/currency-sf/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sfwebApp.currency.home.createLabel">
            Create new Currency
            </span>
        </button>
    </h2>
    <sf-alert></sf-alert>
    <br/>
    <div class="table-responsive" *ngIf="currencies">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="code"><span jhiTranslate="sfwebApp.currency.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="sfwebApp.currency.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isDefault"><span jhiTranslate="sfwebApp.currency.isDefault">Is Default</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="jsonval"><span jhiTranslate="sfwebApp.currency.jsonval">Jsonval</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let currency of currencies ;trackBy: trackId">
                <td><a [routerLink]="['/currency-sf', currency.id, 'view' ]">{{currency.id}}</a></td>
                <td>{{currency.code}}</td>
                <td>{{currency.name}}</td>
                <td>{{currency.isDefault}}</td>
                <td>{{currency.jsonval}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/currency-sf', currency.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/currency-sf', currency.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'currency-sf/'+ currency.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="currencies && currencies.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
