<div>
    <h2 id="page-heading">
        <span jhiTranslate="sfwebApp.finAcc.home.title">Fin Accs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fin-acc-sf" [routerLink]="['/fin-acc-sf/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sfwebApp.finAcc.home.createLabel">
            Create new Fin Acc
            </span>
        </button>
    </h2>
    <sf-alert></sf-alert>
    <br/>
    <div class="table-responsive" *ngIf="finAccs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="sfwebApp.finAcc.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="accNum"><span jhiTranslate="sfwebApp.finAcc.accNum">Acc Num</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="sfwebApp.finAcc.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="sfwebApp.finAcc.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="balance"><span jhiTranslate="sfwebApp.finAcc.balance">Balance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isCreditCard"><span jhiTranslate="sfwebApp.finAcc.isCreditCard">Is Credit Card</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dueDate"><span jhiTranslate="sfwebApp.finAcc.dueDate">Due Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="closingDate"><span jhiTranslate="sfwebApp.finAcc.closingDate">Closing Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.login"><span jhiTranslate="sfwebApp.finAcc.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let finAcc of finAccs ;trackBy: trackId">
                <td><a [routerLink]="['/fin-acc-sf', finAcc.id, 'view' ]">{{finAcc.id}}</a></td>
                <td jhiTranslate="{{'sfwebApp.FinAccStatus.' + finAcc.status}}">{{finAcc.status}}</td>
                <td>{{finAcc.accNum}}</td>
                <td>{{finAcc.name}}</td>
                <td>{{finAcc.description}}</td>
                <td>{{finAcc.balance}}</td>
                <td>{{finAcc.isCreditCard}}</td>
                <td>{{finAcc.dueDate | date:'mediumDate'}}</td>
                <td>{{finAcc.closingDate | date:'mediumDate'}}</td>
                <td>
                    {{finAcc.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/fin-acc-sf', finAcc.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/fin-acc-sf', finAcc.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'fin-acc-sf/'+ finAcc.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="finAccs && finAccs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
