
<div *ngIf="bankAccount">
    <h2><span jhiTranslate="sfWebClientApp.bankAccount.detail.title">Bank Account</span> {{bankAccount.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sfWebClientApp.bankAccount.accountStatus">Account Status</span></dt>
        <dd>
            <span jhiTranslate="{{'sfWebClientApp.AccountStatus.' + bankAccount.accountStatus}}">{{bankAccount.accountStatus}}</span>
        </dd>
        <dt><span jhiTranslate="sfWebClientApp.bankAccount.accountType">Account Type</span></dt>
        <dd>
            <span jhiTranslate="{{'sfWebClientApp.AccountType.' + bankAccount.accountType}}">{{bankAccount.accountType}}</span>
        </dd>
        <dt><span jhiTranslate="sfWebClientApp.bankAccount.accountNumber">Account Number</span></dt>
        <dd>
            <span>{{bankAccount.accountNumber}}</span>
        </dd>
        <dt><span jhiTranslate="sfWebClientApp.bankAccount.name">Name</span></dt>
        <dd>
            <span>{{bankAccount.name}}</span>
        </dd>
        <dt><span jhiTranslate="sfWebClientApp.bankAccount.description">Description</span></dt>
        <dd>
            <span>{{bankAccount.description}}</span>
        </dd>
        <dt><span jhiTranslate="sfWebClientApp.bankAccount.balance">Balance</span></dt>
        <dd>
            <span>{{bankAccount.balance}}</span>
        </dd>
        <dt><span jhiTranslate="sfWebClientApp.bankAccount.user">User</span></dt>
        <dd>
            {{bankAccount.user?.login}}
        </dd>
        <dt><span jhiTranslate="sfWebClientApp.bankAccount.bank">Bank</span></dt>
        <dd>
            <div *ngIf="bankAccount.bank">
                <a [routerLink]="['/bank', bankAccount.bank?.id]">{{bankAccount.bank?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bank-account/'+ bankAccount.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
