<div>
    <h2>
        <span jhiTranslate="sfWebClientApp.bank.home.title">Banks</span>
        <button class="btn btn-primary float-right jh-create-entity create-bank" [routerLink]="['/', { outlets: { popup: ['bank-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sfWebClientApp.bank.home.createLabel">
            Create new Bank
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="banks">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="sfWebClientApp.bank.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="sfWebClientApp.bank.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="user.login"><span jhiTranslate="sfWebClientApp.bank.user">User</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bank of banks ;trackBy: trackId">
                <td><a [routerLink]="['../bank', bank.id ]">{{bank.id}}</a></td>
                <td>{{bank.name}}</td>
                <td>{{bank.description}}</td>
                <td>
                    {{bank.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../bank', bank.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bank/'+ bank.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bank/'+ bank.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="banks && banks.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
