<div class="row" [ngSwitch]="isAuthenticated()">
    <div class="col-md-3" *ngSwitchCase="false">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <!--<h1 class="display-4" jhiTranslate="home.title">Welcome!</h1>-->
        <!--<p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>-->

        <div>
            <!--<div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                    translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>-->
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>

    </div>
</div>
<jhi-dashboard *ngIf="isAuthenticated()"></jhi-dashboard>
