<style>
    .my-drop-zone { border: dotted 3px lightgray; }
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
    .another-file-over-class { border: dotted 3px green; }
    .windowClass { }
    /*
        html, body { height: 100%; }*/
</style>

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <h2><span>Upload File Transactions</span></h2>
    <hr>
    <button type="button"
            (click)="goBack()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
        <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
        <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
    </button>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="form-group">
        <label class="form-control-label"
               for="field_bankAccount">Bank Account</label>
        <select class="form-control" id="field_bankAccount" name="bankAccount"
                [(ngModel)]="bankAccount" required>
            <option *ngIf="!editForm.value.bankAccount" [ngValue]="null" selected></option>
            <option
                [ngValue]="bankAccountOption.id === bankAccount?.id ? bankAccount : bankAccountOption"
                *ngFor="let bankAccountOption of bankAccounts; trackBy: trackBankAccountById">{{bankAccountOption.name}}
            </option>
        </select>
    </div>
    <div [hidden]="!(editForm.controls.bankAccount?.dirty && editForm.controls.bankAccount?.invalid)">
        <small class="form-text text-danger"
               [hidden]="!editForm.controls.bankAccount?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
        </small>
    </div>
    <div class="form-group">
        <input type="file" ng2FileSelect [uploader]="uploader"/>
        <div ng2FileDrop
             [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
             (fileOver)="fileOverBase($event)"
             [uploader]="uploader"
             class="well my-drop-zone">
            Drop file here
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-success btn-s"
                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <button type="button" class="btn btn-warning btn-s"
                        (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>
                <button type="button" class="btn btn-danger btn-s"
                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>
            </div>
        </div>
        <div class="row">
            Queue progress:
            <div class="col-md-12">
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Upload queue</h3>
                <p>Queue length: {{ uploader?.queue?.length }}</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th>Size</th>
                        <th>Progress</th>
                        <th>Status</th>
                        <!--<th>Actions</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of uploader.queue">
                        <td><strong>{{ item?.file?.name }}</strong></td>
                        <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                        <td *ngIf="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar"
                                     [ngStyle]="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="table-responsive"  *ngIf="accountTransactions">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span>Post Date</span>
                    <span class="fa fa-sort"></span></th>
                <th><span>Tran Type</span>
                    <span class="fa fa-sort"></span></th>
                <th><span>Tran Category</span>
                    <span class="fa fa-sort"></span></th>
                <th><span
                    >Description</span> <span
                    class="fa fa-sort"></span></th>
                <th><span>Amount</span> <span
                    class="fa fa-sort"></span></th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let accountTransaction of accountTransactions ;trackBy: trackId">
                    <td>{{accountTransaction.postDate | date:'medium'}}</td>
                    <td jhiTranslate="{{'sfWebBaseApp.TranType.' + accountTransaction.tranType}}">
                        {{accountTransaction.tranType}}
                    </td>
                    <td>
                        <div *ngIf="accountTransaction.tranCategory">
                            <a [routerLink]="['../tran-category', accountTransaction.tranCategory?.id ]">{{accountTransaction.tranCategory?.name}}</a>
                        </div>
                    </td>
                    <td>{{accountTransaction.description}}</td>
                    <td>{{accountTransaction.amount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="accountTransactions && accountTransactions.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page"
                            (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</form>
