<style>
    .my-drop-zone { border: dotted 3px lightgray; }
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
    .another-file-over-class { border: dotted 3px green; }
    .windowClass { }
    /*
        html, body { height: 100%; }*/
</style>

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <h2><span>Upload File Transactions</span></h2>
    <hr>
    <button type="button"
            (click)="goBack()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="form-group">
        <label class="form-control-label"
               for="field_account">Account</label>
        <select class="form-control" id="field_account" name="account"
                [(ngModel)]="account" required>
            <option *ngIf="!editForm.value.account" [ngValue]="null" selected></option>
            <option
                [ngValue]="accountOption.id === account?.id ? account : accountOption"
                *ngFor="let accountOption of accounts; trackBy: trackAccountById">{{accountOption.name}}
            </option>
        </select>
        <div [hidden]="!(editForm.controls.account?.dirty && editForm.controls.account?.invalid)">
            <small class="form-text text-danger"
                   [hidden]="!editForm.controls.account?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>

    <div class="form-group">
            <input type="file" name="fileInput" ng2FileSelect [uploader]="uploader" [(ngModel)]="fileInput" />
            <button type="button" class="btn btn-success btn-s"
                    (click)="upload()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Upload file
            </button>
            <button type="button" class="btn btn-warning btn-s"
                    (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
            </button>
    </div>

    <div class="form-group">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Clear</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving || transactions.length<=0" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Import</span>
        </button>
    </div>
    <div class="row"></div>
    <br/>
    <!--{{ diagnostic }}-->
    <div class="table-responsive"  *ngIf="transactions">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span>Post Date</span>
                    <span class="fa fa-sort"></span></th>
                <th><span>Tran Type</span>
                    <span class="fa fa-sort"></span></th>
                <th><span
                >Description</span> <span
                    class="fa fa-sort"></span></th>
                <th><span>Amount</span> <span
                    class="fa fa-sort"></span></th>
                <th><span>Tran Category</span>
                    <span class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transaction of transactions ;let i=index ;trackBy: trackId">
                <td>{{transaction.postDate | date:'medium'}}</td>
                <td>{{transaction.tranType}}</td>
                <td>{{transaction.description}}</td>
                <td>{{transaction.amount}}</td>
                <!--[value]="category.id === transaction.tranCategory?.id ? transaction.tranCategory : category" -->
                <!--[value]="category"-->
                <td>
                    <select class="form-control"
                            name="category"
                            [(ngModel)]="transaction.tranCategory"
                            #category="ngModel"
                    >
                        <option [value]="null"></option>
                        <option
                            *ngFor="let category of categories; trackBy: trackTranCategoryById"
                            [ngValue]="category.id === transaction.tranCategory?.id ? transaction.tranCategory : category"
                        >
                            {{category.name}}
                        </option>
                    </select>
                </td>
                <td>
                    <a href="javascript:void(0);" (click)="remove(i, transaction)" class="btn btn-danger btn-sm">
                        <span class="fa fa-remove" aria-hidden="true"></span>
                        <span><strong></strong></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>
