<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFinanceAccountLabel"
            jhiTranslate="sfWebClientApp.financeAccount.home.createOrEditLabel">Create or edit a Finance Account</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--section - id-->
        <!--<div class="form-group" [hidden]="!financeAccount.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="financeAccount.id" readonly/>
        </div>-->

        <!--section - status-->
        <div class="form-row">
            <div class="form-group col-md-12">
                <div class="btn-group">
                    <label [ngClass]="getInactiveStatusClass()" name="accountStatus"
                           [(ngModel)]="financeAccount.accountStatus" btnRadio="INACTIVE">{{'sfWebClientApp.AccountStatus.INACTIVE'
                        | translate}}</label>
                    <label [ngClass]="getActiveStatusClass()" name="accountStatus"
                           [(ngModel)]="financeAccount.accountStatus" btnRadio="ACTIVE">{{'sfWebClientApp.AccountStatus.ACTIVE'
                        | translate}}</label>
                </div>
                <div [hidden]="!(editForm.controls.accountStatus?.dirty && editForm.controls.accountStatus?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.accountStatus?.errors?.required"
                           jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
        </div>

        <!--section - name, number account-->
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="form-control-label" jhiTranslate="sfWebClientApp.financeAccount.name" for="field_name">Name</label>
                <input type="text" class="form-control" name="name" id="field_name"
                       [(ngModel)]="financeAccount.name" required minlength="4" maxlength="64" placeholder="Saving Account"/>
                <div class="form-group col-md-6">
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.name?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.name?.errors?.minlength"
                               jhiTranslate="entity.validation.minlength" translateValues="{ min: 4 }">
                            This field is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.name?.errors?.maxlength"
                               jhiTranslate="entity.validation.maxlength" translateValues="{ max: 64 }">
                            This field cannot be longer than 64 characters.
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="form-control-label" jhiTranslate="sfWebClientApp.financeAccount.accountNumber"
                       for="field_accountNumber">Account Number</label>
                <input type="text" class="form-control" name="accountNumber" id="field_accountNumber"
                       [(ngModel)]="financeAccount.accountNumber"  maxlength="32"/>
                <div [hidden]="!(editForm.controls.accountNumber?.dirty && editForm.controls.accountNumber?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.accountNumber?.errors?.maxlength"
                           jhiTranslate="entity.validation.maxlength" translateValues="{ max: 32 }">
                        This field cannot be longer than 32 characters.
                    </small>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="isCreditCard"
                               [(ngModel)]="financeAccount.isCreditCard"/>{{'sfWebClientApp.financeAccount.isCreditCard'
                        | translate}}
                    </label>
                </div>
            </div>
        </div>

        <div id="detailAccordion" data-children=".item">
            <div class="item">
                <a data-toggle="collapse" data-parent="#detailAccordion"
                   (click)="isDetailsCollapsed = !isDetailsCollapsed" href="javascript:void(0)" aria-expanded="false"
                   aria-controls="detailAccordionFields">
                    Details
                </a>

                <div class="form-row collapse" role="tabpanel"
                     [ngClass]="getDetailsCollapseClass()">
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="sfWebClientApp.financeAccount.dueDate" for="field_dueDate">Due
                            Date</label>
                        <div class="input-group">
                            <input id="field_dueDate" type="text" class="form-control" name="dueDate" ngbDatepicker
                                   #dueDateDp="ngbDatepicker" [(ngModel)]="financeAccount.dueDate"
                            />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-secondary" (click)="dueDateDp.toggle()"><i
                                    class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="sfWebClientApp.financeAccount.closingDate"
                               for="field_closingDate">Closing Date</label>
                        <div class="input-group">
                            <input id="field_closingDate" type="text" class="form-control" name="closingDate"
                                   ngbDatepicker #closingDateDp="ngbDatepicker" [(ngModel)]="financeAccount.closingDate"
                            />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-secondary" (click)="closingDateDp.toggle()"><i
                                    class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-row collapse" role="tabpanel"
                     [ngClass]="getDetailsCollapseClass()">
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="sfWebClientApp.financeAccount.description"
                               for="field_description">Description</label>
                        <input type="text" class="form-control" name="description" id="field_description"
                               [(ngModel)]="financeAccount.description" maxlength="256"/>
                        <div
                            [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.description?.errors?.maxlength"
                                   jhiTranslate="entity.validation.maxlength" translateValues="{ max: 256 }">
                                This field cannot be longer than 256 characters.
                            </small>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="sfWebClientApp.financeAccount.balance"
                               for="field_balance">Balance</label>
                        <input type="number" class="form-control" name="balance" id="field_balance"
                               [(ngModel)]="financeAccount.balance"/>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-row" *jhiHasAnyAuthority="'ADMIN'">
            <div class="form-group col-md-6">
                <label class="form-control-label" jhiTranslate="sfWebClientApp.financeAccount.user" for="field_user">User</label>
                <select class="form-control" id="field_user" name="user" [(ngModel)]="financeAccount.user">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="userOption.id === financeAccount.user?.id ? financeAccount.user : userOption"
                            *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}
                    </option>
                </select>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
