
<h2>
    <span jhiTranslate="sfWebClientApp.financeAccount.home.title">Finance Accounts</span>
    <button class="btn btn-primary float-right jh-create-entity create-finance-account" [routerLink]="['/', { outlets: { popup: ['finance-account-new'] } }]">
        <span class="fa fa-plus"></span>
        <span  jhiTranslate="sfWebClientApp.financeAccount.home.createLabel">
        Create new Finance Account
        </span>
    </button>
</h2>
<jhi-alert></jhi-alert>
<div class="row"></div>
<br/>
<div class="row" *ngFor="let rowAcc of rowsAccount">
    <div class="col-sm-3 mb-3" *ngFor="let colAcc of rowAcc.accounts">
        <a class="border card bg-info text-white" [routerLink]="['../finance-account', colAcc.id ]">
            <div class="card-body">
                <h4 class="card-title">{{colAcc.name}}</h4>

                <!--<p class="card-text">{{colAcc.description}}</p>-->
                <!--<div class="text-right">
                    <a [routerLink]="['/', { outlets: { popup: 'finance-account/'+ colAcc.id + '/delete'} }]"
                       replaceUrl="true"
                       class="badge badge-danger">Delete</a>
                </div>-->
                <div *ngIf="colAcc.isCreditCard == true" class="text-right">
                    <span class="badge badge-secondary">Credit Card</span>
                </div>
                <div *ngIf="colAcc.isCreditCard == false" class="text-right">
                    <span class="badge badge-secondary">Generic</span>
                </div>
            </div>
        </a>
    </div>
</div>


<!--
<div>
    <h2>
        <span jhiTranslate="sfWebClientApp.financeAccount.home.title">Finance Accounts</span>
        <button class="btn btn-primary float-right jh-create-entity create-finance-account" [routerLink]="['/', { outlets: { popup: ['finance-account-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sfWebClientApp.financeAccount.home.createLabel">
            Create new Finance Account
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="financeAccounts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            &lt;!&ndash;<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>&ndash;&gt;
            &lt;!&ndash;<th jhiSortBy="accountStatus"><span jhiTranslate="sfWebClientApp.financeAccount.accountStatus">Account Status</span> <span class="fa fa-sort"></span></th>&ndash;&gt;
            <th jhiSortBy="accountNumber"><span jhiTranslate="sfWebClientApp.financeAccount.accountNumber">Account Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="sfWebClientApp.financeAccount.name">Name</span> <span class="fa fa-sort"></span></th>
            &lt;!&ndash;<th jhiSortBy="description"><span jhiTranslate="sfWebClientApp.financeAccount.description">Description</span> <span class="fa fa-sort"></span></th>&ndash;&gt;
            &lt;!&ndash;<th jhiSortBy="balance"><span jhiTranslate="sfWebClientApp.financeAccount.balance">Balance</span> <span class="fa fa-sort"></span></th>&ndash;&gt;
            &lt;!&ndash;<th jhiSortBy="isCreditCard"><span jhiTranslate="sfWebClientApp.financeAccount.isCreditCard">Is Credit Card</span> <span class="fa fa-sort"></span></th>&ndash;&gt;
            &lt;!&ndash;<th jhiSortBy="dueDate"><span jhiTranslate="sfWebClientApp.financeAccount.dueDate">Due Date</span> <span class="fa fa-sort"></span></th>&ndash;&gt;
            &lt;!&ndash;<th jhiSortBy="closingDate"><span jhiTranslate="sfWebClientApp.financeAccount.closingDate">Closing Date</span> <span class="fa fa-sort"></span></th>&ndash;&gt;
            &lt;!&ndash;<th jhiSortBy="user.login"><span jhiTranslate="sfWebClientApp.financeAccount.user">User</span> <span class="fa fa-sort"></span></th>&ndash;&gt;
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let financeAccount of financeAccounts ;trackBy: trackId">
                &lt;!&ndash;<td><a [routerLink]="['../finance-account', financeAccount.id ]">{{financeAccount.id}}</a></td>&ndash;&gt;
                &lt;!&ndash;<td jhiTranslate="{{'sfWebClientApp.AccountStatus.' + financeAccount.accountStatus}}">{{financeAccount.accountStatus}}</td>&ndash;&gt;
                <td>{{financeAccount.accountNumber}}</td>
                <td><a [routerLink]="['../finance-account', financeAccount.id ]">{{financeAccount.name}}</a></td>
                &lt;!&ndash;<td>{{financeAccount.description}}</td>&ndash;&gt;
                &lt;!&ndash;<td>{{financeAccount.balance}}</td>&ndash;&gt;
                &lt;!&ndash;<td>{{financeAccount.isCreditCard}}</td>&ndash;&gt;
                &lt;!&ndash;<td>{{financeAccount.dueDate | date:'mediumDate'}}</td>&ndash;&gt;
                &lt;!&ndash;<td>{{financeAccount.closingDate | date:'mediumDate'}}</td>&ndash;&gt;
                &lt;!&ndash;<td>
                    {{financeAccount.user?.login}}
                </td>&ndash;&gt;
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../finance-account', financeAccount.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'finance-account/'+ financeAccount.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'finance-account/'+ financeAccount.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="financeAccounts && financeAccounts.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
-->
